body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  .mouse{
      margin-top:10vh;
  }
  .profile{
    background-image: url("assets/h_img.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.my_description{
    margin-top: 30vh;
    position: absolute;
    left: 25vh;
    color: white;
}
.services{
    background-image: url("assets/s_image.jpg");
    background-color: rgba(0,0,0,0.8);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.mydescr{
        position: absolute;
        color: white;
        left: 25vh;
        top: 10vh;
        
    }
    .portfolio{
        margin-top: 20vh;
    }
    .portfolio img{
        width: 250px;
        padding-top:10px ;
    }
    #contact {
        background-image: url('assets/c_image.jpg');
        background-size: cover;
        background-position: cover;
        margin-top: 50px;
    }
    .form-cont input {
        width: 49%;
        background: transparent;
        color: white;
    }
    .form-cont textarea {
        margin-top: 10px;
        width: 100%;
        background: transparent;
        color: white;
    }
    .form-cont {
        text-align: center;
        position: relative;
        width: 700px;
        max-width: 100%;
        left: 50%;
        transform: translate(-50%);
    
    }
    ::placeholder{
        font-size: 10px;
        color: white;
    }
    #contact h1{
        color: white;
    }
    .con {
        padding-bottom: 30px;
    }
    #producttxt,#devtxt,#designtxt{
        display: none;
    }
    .portimg .porttext {
        display: none;
        opacity: 1;
        background-color:rgba(255, 255, 255, 0.6);
        width: auto;
        position: absolute;
        bottom: 0;
        color: deepskyblue;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding: 30px;
        height: 100%;
    }
    input[type="text"] {
        width: 420px;
        padding-left: 5px;
    }
    
    textarea {
        width: 800px;
        padding-top: 15px;
        overflow: auto;
        position: relative;
    }
    input[type="text"],
    textarea {
        border: none;
        padding: 5px 10px;
        margin: 5px 10px 15px 10px;
        background: transparent;
        border: solid 1px;
        color: #ffffff;
    }
    
    ::placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    input[type="submit"] {
        font-size: 15px;
        width: 100px;
        height: 35px;
        border: 0;
        border-radius: 5px;  
    }
    input[type="submit"] {
        font-size: 15px;
        width: 100px;
        height: 35px;
        border: 0;
        border-radius: 5px;
        background-color: #3366cc;
        position: relative;
    }
    
    input[type="submit"]:hover {
        font-size: 15px;
        width: 100px;
        height: 35px;
        border: 0;
        border-radius: 5px;
        background-color: #ffffcc;
        position: relative;
    }
    .portimg{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        display: none;
    }
    
    .porttext {
        position: absolute;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: none;
        border: 1px solid white;
        padding: 20px 0;
    } 
    .porttext p {
        color: white;
    }
    .fix{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        display: none;
    }
    
    .nana{
        position: absolute;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: none;
        border: 1px solid white;
        padding: 20px 0;
    } 
    .portimg{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        display: none;
    }
    
    .porttext {
        position: absolute;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: none;
        border: 1px solid white;
        padding: 20px 0;
    } 
    .porttext p {
        color: white;
    }
    .fix{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        display: none;
    }
    
    .nana{
        position: absolute;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: none;
        border: 1px solid white;
        padding: 20px 0;
    } 
    .nana p {
        color: white;
    }
    .d{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        display: none;
    }
    
    .ni{
        position: absolute;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: none;
        border: 1px solid white;
        padding: 20px 0;
    } 
    .ni p {
        color: white;
    }

